@import "../resources-sass/normalize";
:root{
    --color-primary:#419F00;
    --color-secondary:#4EA93B;
    --color-paragraph:#2B2C34;
}
body{
    font-family: 'Poppins', sans-serif; 
}
header{
    background:var(--color-secondary);
    padding:1rem 0 2rem 0 ;
    border-radius:0 0 0 6.25rem;
    .image__logo{
        width: 180px;
    }
    .logo__box{
        display:flex;
        justify-content: center;
        flex-direction:column;
        align-items: center;
    }
    .design-3d{
        width: 100%;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .title__logo{
        color:white;
        font-weight: 700;
        font-size:2.1875rem;
        text-align: center;
    }
    nav{
        display:flex;
        flex-direction:column;
        align-items: flex-end;
        padding:0 1rem 1rem 0 ;
        .fa-bars,.fa-times{
            color:white;
            font-size:2rem;
            z-index:999;
            cursor:pointer;
        }
        .menu{
            background:rgba(0, 0, 0,.69);
            position:fixed;
            top:0;
            left:0;
            right:0;
            bottom:0;
            margin:0;
            padding:0;
            display:none;
            .menu__item{
                padding:2rem  0 0 1rem ;
                font-size:20px;
            }
            .menu__link{
                color:white;
                text-decoration:none;
                font-weight: 500;
            }
        }
    }
}
.eco-bottle{
    padding:1rem 0 0 0;
    .eco-bottle__description__box{
        padding:1rem 0 1rem 1rem ;
        background:var(--color-primary);
        .eco-bottle__description{
            color:white;
            margin:0;
            line-height: 26px;
        }
        .eco-bottle__title{
            color:white;
        }
    }
    .eco-bottle__image{
        width: 100%;
    }
}
.caracteristicas{
    padding:1rem 0;
    display:flex;
    justify-content: center;
    display:grid;
    grid-gap:1rem;
    .caratersiticas__title{
        font-size:22px;
        text-align: center;
        color:var(--color-paragraph);
        margin:0;
        padding:1rem 0;
    }
    article{
        display:flex;
        flex-direction: column;
        align-items: center;
        .caracteristica__icon{
            font-size:3rem;
            color:var(--color-primary)
        }
        .caracteristica__text{
            font-weight: 500;
            font-size:20px;
            color:var(--color-paragraph);
            text-align: center;
        }
    }
}
.produccion{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .produccion__title{
        color:var(--color-paragraph);
        font-size:20px;
        text-align: center;
        font-weight: 700;
    }
    .produccion__description{
        color:var(--color-paragraph);
        text-align: center;
        padding:0 10px;
        line-height: 26px;
    }
    .produccion__image{
        width: 100%;
    }
}
.producto{
    .producto__title{
        text-align:center ;
        font-size:2rem;
        font-weight: 700;
        color:var(--color-paragraph);
    }
    article{
        padding:0 0 0 1rem;
        display:flex;
        align-items: center;
        justify-content: center;
        display:grid;
        grid-gap:1rem;
        grid-template-columns: repeat(2,1fr);
        .bottle__image{
            width: 100px;
        }
    }
}
